<p>
  <b>Firstname:</b>
  <%=h @personal_info.firstName %>
</p>

<p>
  <b>Middlename:</b>
  <%=h @personal_info.middleName %>
</p>

<p>
  <b>Surnameororgname:</b>
  <%=h @personal_info.surNameOrOrgName %>
</p>

<p>
  <b>Pan:</b>
  <%=h @personal_info.pan %>
</p>

<p>
  <b>Residencename:</b>
  <%=h @personal_info.residenceName %>
</p>

<p>
  <b>Residenceno:</b>
  <%=h @personal_info.residenceNo %>
</p>

<p>
  <b>Status:</b>
  <%=h @personal_info.status %>
</p>

<p>
  <b>Localityorarea:</b>
  <%=h @personal_info.localityOrArea %>
</p>

<p>
  <b>Roadorstreet:</b>
  <%=h @personal_info.roadOrStreet %>
</p>

<p>
  <b>Dob:</b>
  <%=h @personal_info.dob %>
</p>

<p>
  <b>Cityortownordistrict:</b>
  <%=h @personal_info.cityOrTownOrDistrict %>
</p>

<p>
  <b>Gender1:</b>
  <%=h @personal_info.gender1 %>
</p>

<p>
  <b>Pincode:</b>
  <%=h @personal_info.pinCode %>
</p>

<p>
  <b>Statecode1:</b>
  <%=h @personal_info.stateCode1 %>
</p>

<p>
  <b>Emailaddress:</b>
  <%=h @personal_info.emailAddress %>
</p>

<p>
  <b>Employercategory1:</b>
  <%=h @personal_info.employerCategory1 %>
</p>

<p>
  <b>Phoneno:</b>
  <%=h @personal_info.phoneNo %>
</p>

<p>
  <b>Stdcode:</b>
  <%=h @personal_info.stdCode %>
</p>
<!-- 
<p>
  <b>Form:</b>
  <%=h @personal_info.form_id %>
</p>
-->

<%= link_to 'Edit', edit_personal_info_path(@personal_info) %> |
<%= link_to 'Back', personal_infos_path %>
