<p>
  <b>Incomefromsal:</b>
  <%=h @income_and_deduction.incomeFromSal %>
</p>

<p>
  <b>Fampension:</b>
  <%=h @income_and_deduction.famPension %>
</p>

<p>
  <b>Indinterest:</b>
  <%=h @income_and_deduction.indInterest %>
</p>

<p>
  <b>Section80c:</b>
  <%=h @income_and_deduction.section80C %>
</p>

<p>
  <b>Section80ccc:</b>
  <%=h @income_and_deduction.section80CCC %>
</p>

<p>
  <b>Section80ccd:</b>
  <%=h @income_and_deduction.section80CCD %>
</p>

<p>
  <b>Section80d:</b>
  <%=h @income_and_deduction.section80D %>
</p>

<p>
  <b>Section80dd:</b>
  <%=h @income_and_deduction.section80DD %>
</p>

<p>
  <b>Section80ddb:</b>
  <%=h @income_and_deduction.section80DDB %>
</p>

<p>
  <b>Section80e:</b>
  <%=h @income_and_deduction.section80E %>
</p>

<p>
  <b>Section80g:</b>
  <%=h @income_and_deduction.section80G %>
</p>

<p>
  <b>Section80gg:</b>
  <%=h @income_and_deduction.section80GG %>
</p>

<p>
  <b>Section80gga:</b>
  <%=h @income_and_deduction.section80GGA %>
</p>

<p>
  <b>Section80ggc:</b>
  <%=h @income_and_deduction.section80GGC %>
</p>

<p>
  <b>Section80u:</b>
  <%=h @income_and_deduction.section80U %>
</p>

<p>
  <b>Netagriculturalincome:</b>
  <%=h @income_and_deduction.netAgriculturalIncome %>
</p>
<!-- 
<p>
  <b>Form:</b>
  <%=h @income_and_deduction.form_id %>
</p>
-->

<%= link_to 'Edit', edit_income_and_deduction_path(@income_and_deduction) %> |
<%= link_to 'Back', income_and_deductions_path %>
