<p>
  <b>Section89:</b>
  <%=h @tax_computation.section89 %>
</p>

<p>
  <b>Section90and91:</b>
  <%=h @tax_computation.section90and91 %>
</p>

<p>
  <b>Taxduetodelay:</b>
  <%=h @tax_computation.taxDueToDelay %>
</p>


<!--
<p>
  <b>Form:</b>
  <%=h @tax_computation.form_id %>
</p>
-->


<%= link_to 'Edit', edit_tax_computation_path(@tax_computation) %> |
<%= link_to 'Back', tax_computations_path %>
