<p>
  <b>Code001:</b>
  <%=h @air.code001 %>
</p>

<p>
  <b>Code002:</b>
  <%=h @air.code002 %>
</p>

<p>
  <b>Code003:</b>
  <%=h @air.code003 %>
</p>

<p>
  <b>Code004:</b>
  <%=h @air.code004 %>
</p>

<p>
  <b>Code005:</b>
  <%=h @air.code005 %>
</p>

<p>
  <b>Code006:</b>
  <%=h @air.code006 %>
</p>

<p>
  <b>Code007:</b>
  <%=h @air.code007 %>
</p>

<p>
  <b>Code008:</b>
  <%=h @air.code008 %>
</p>

<p>
  <b>Taxexmpintinc:</b>
  <%=h @air.taxExmpIntInc %>
</p>

<!-- 
<p>
  <b>Form:</b>
  <%=h @air.form_id %>
</p>
-->

<%= link_to 'Edit', edit_air_path(@air) %> |
<%= link_to 'Back', airs_path %>
