<% if @t_dsoths.any? %>
<h1>Listing t_dsoths</h1>

<table>
  <tr>
  	<!--
    <th>Tan</th>
	-->
    <th>Employer Name </th>
	<!--
    <th>Addrdetail</th>
    <th>Cityortownordistrict</th>
    <th>Pincode</th>
    <th>Statecode</th>
    <th>Amtpaid</th>
    <th>Datepaycred</th>
    <th>Tottdsonamtpaid</th>
    <th>Claimoutoftottdsonamtpaid</th>
    <th>Taxpaidandrefund</th> 
	-->
  </tr>

<% for t_dsoth in @t_dsoths %>
  <tr>
  	<!--
    <td><%=h t_dsoth.tan %></td>
	-->
    <td><%=h t_dsoth.employerOrDeductorOrCollecterName %></td>
	<!--
    <td><%=h t_dsoth.addrDetail %></td>
    <td><%=h t_dsoth.cityOrTownOrDistrict %></td>
    <td><%=h t_dsoth.pinCode %></td>
    <td><%=h t_dsoth.stateCode %></td>
    <td><%=h t_dsoth.amtPaid %></td>
    <td><%=h t_dsoth.datePayCred %></td>
    <td><%=h t_dsoth.totTDSOnAmtPaid %></td>
    <td><%=h t_dsoth.claimOutOfTotTDSOnAmtPaid %></td>
    <td><%=h t_dsoth.tax_paid_and_refund_id %></td> 
	
    <td><%= link_to 'Show', t_dsoth %></td>	
	-->
    <td><%= link_to 'Edit', edit_t_dsoth_path(t_dsoth) %></td>
    <td><%= link_to 'Destroy', t_dsoth, :confirm => 'Are you sure, you want to delete this company information ?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
<p>
	Here, you add your company details. Details required here are usually given by the company in Form-16.
	You can add more than one company information also if you have worked for multiple companies. 
	But we will be printing only the first two companies in the PDF Form, because standard form doesn't 
	have scope for more than two companies. 
	
	Add the company details by clicking on the Add Employer Info. 
	Once you are finished, click on to Proceed button to move to next section.
</p>
<%end%>

<br />


<%= button_to "Add Employer" , {:controller =>'t_dsoths' , :action => 'new'}, :method =>:get %>
<%= button_to "I am done! proceed to next section", { :controller=> "tax_ps", :action => "index" }, :method => :get %>
