<p>
  <b>Tan:</b>
  <%=h @t_dsoth.tan %>
</p>

<p>
  <b>Employerordeductororcollectername:</b>
  <%=h @t_dsoth.employerOrDeductorOrCollecterName %>
</p>

<p>
  <b>Addrdetail:</b>
  <%=h @t_dsoth.addrDetail %>
</p>

<p>
  <b>Cityortownordistrict:</b>
  <%=h @t_dsoth.cityOrTownOrDistrict %>
</p>

<p>
  <b>Pincode:</b>
  <%=h @t_dsoth.pinCode %>
</p>

<p>
  <b>Statecode:</b>
  <%=h @t_dsoth.stateCode %>
</p>

<p>
  <b>Amtpaid:</b>
  <%=h @t_dsoth.amtPaid %>
</p>

<p>
  <b>Datepaycred:</b>
  <%=h @t_dsoth.datePayCred %>
</p>

<p>
  <b>Tottdsonamtpaid:</b>
  <%=h @t_dsoth.totTDSOnAmtPaid %>
</p>

<p>
  <b>Claimoutoftottdsonamtpaid:</b>
  <%=h @t_dsoth.claimOutOfTotTDSOnAmtPaid %>
</p>

<!-- 
<p>
  <b>Taxpaidandrefund:</b>
  <%=h @t_dsoth.tax_paid_and_refund_id %>
</p>
-->

<%= link_to 'Edit', edit_t_dsoth_path(@t_dsoth) %> |
<%= link_to 'Back', t_dsoths_path %>
