<p>
  <b>Tan:</b>
  <%=h @t_dsal.tan %>
</p>

<p>
  <b>Employerordeductororcollectername:</b>
  <%=h @t_dsal.employerOrDeductorOrCollecterName %>
</p>

<p>
  <b>Addrdetail:</b>
  <%=h @t_dsal.addrDetail %>
</p>

<p>
  <b>Cityortownordistrict:</b>
  <%=h @t_dsal.cityOrTownOrDistrict %>
</p>

<p>
  <b>Pincode:</b>
  <%=h @t_dsal.pinCode %>
</p>

<p>
  <b>Statecode:</b>
  <%=h @t_dsal.stateCode %>
</p>

<p>
  <b>Incchrgsal:</b>
  <%=h @t_dsal.incChrgSal %>
</p>

<p>
  <b>Deductunderchapvia:</b>
  <%=h @t_dsal.deductUnderChapVIA %>
</p>

<p>
  <b>Taxpayinclusurchednces:</b>
  <%=h @t_dsal.taxPayIncluSurchEdnCes %>
</p>

<p>
  <b>Totaltdssal:</b>
  <%=h @t_dsal.totalTDSSal %>
</p>

<p>
  <b>Taxpayrefund:</b>
  <%=h @t_dsal.taxPayRefund %>
</p>
<!-- 
<p>
  <b>Taxpaidandrefund:</b>
  <%=h @t_dsal.tax_paid_and_refund_id %>
</p>
-->

<%= link_to 'Edit', edit_t_dsal_path(@t_dsal) %> |
<%= link_to 'Back', t_dsals_path %>
