<p>
  <b>Assesseevername:</b>
  <%=h @ver.assesseeVerName %>
</p>

<p>
  <b>Fathername:</b>
  <%=h @ver.fatherName %>
</p>

<p>
  <b>Place:</b>
  <%=h @ver.place %>
</p>

<p>
  <b>Date:</b>
  <%=h @ver.date %>
</p>

<p>
  <b>Identificationnooftrp:</b>
  <%=h @ver.identificationNoOfTRP %>
</p>

<p>
  <b>Nameoftrp:</b>
  <%=h @ver.nameOfTRP %>
</p>

<p>
  <b>Reimbfrmgov:</b>
  <%=h @ver.reImbFrmGov %>
</p>
<!--<!-- -->
<p>
  <b>Form:</b>
  <%=h @ver.form_id %>
</p>
 -->


<%= link_to 'Edit', edit_ver_path(@ver) %> |
<%= link_to 'Back', vers_path %>
