<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <!--
    <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold' %>
    </head>
    -->
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link href="/stylesheets/compiled/screen.css" media="screen" rel="stylesheet" type="text/css" />
   	     <link href="/stylesheets/admin-all.css" media="screen" rel="stylesheet" type="text/css" />
    </head>
    <body class="one-col" id="cart">
        <%= render :partial => '/navigation' %>
        <div id="wrapper" class="container">
            <div id="content"  >
               <% if flash[:notice] %>
			   <div class="flash notice">
                    <%= flash[:notice] %>
				</div>
                <% end %>
                <% if flash[:error] %>
                <p style="color: red">
                    <%= flash[:error] %>
                </p>
				<% end %>
				<% if flash[:alert] %>
                <p style="color: red">
                    <%= flash[:alert] %>
                </p>
                <% end %>
                <%= yield %>

			
		</div>
        </div>
	
    </body>
	
</html>
